<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820297198648-fsac9d2gm388a7p86mgppe34g4aga1du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820297198648-fsac9d2gm388a7p86mgppe34g4aga1du</string>
	<key>API_KEY</key>
	<string>AIzaSyAyIGA8WhD56SNZNu7VKVEFLl3Cz8lT3vg</string>
	<key>GCM_SENDER_ID</key>
	<string>820297198648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cycletech</string>
	<key>PROJECT_ID</key>
	<string>cycletech-d4490</string>
	<key>STORAGE_BUCKET</key>
	<string>cycletech-d4490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820297198648:ios:f7f6ea2ac94dae727bcacd</string>
</dict>
</plist>